@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Inter', sans-serif;
}

/* enable smooth scrolling everywhere and prevent overscroll “bounce” */
html, body {
  scroll-behavior: smooth;       /* smooth scroll everywhere */
  overscroll-behavior: none;     /* no bounce or lock on either axis */
  touch-action: pan-y;           /* only vertical swipes */
}